.pass {
    color: green;
}

.fail {
    color: red;
}

.loader {
    text-align: center;
}

.loader-inner {
    width: 1px;
    margin: 20px auto;
    height: 1px;
}

.loader-message + .loader-inner {
    margin-top: 30px;
}

.loader .loader-inner div {
    border-color: grey transparent;
}

.serverError {
    text-align: center;
    font-style: italic;
    color: grey;
    font-size: 12px;
}

.panel-body .alert-info {
    display: none;
}

.page-header h1,
.page-header h2,
form,
.suggest {
    text-align: center;
}

input {
    margin: 0 auto;
    padding: 10px;
}

input[type=text] {
    min-width: 300px;
}

.suggest {
    margin-top: 10px;
    font-style: italic;
}

.magereport {
    text-align: center;
    padding-bottom: 10px;
}
